#logo-container {
  	height: auto;
  	width: 200px;
  	margin-top: 10px;
}

body {
  	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#map-canvas {
    height: 300px;
    margin: 0px;
    padding: 0px
}

.card-section {
	 padding: 1px;
}

.parallax-container {
    height: 390px;
}

.header-card {
    height: 160px;
}

.card-service {
    height:340px;
    padding: 0px;
}
.title-service {
  padding-bottom: 10px;
}

body{
    background: url(../img/halftone.png) repeat;
}
.full-width {
    width: 100%;
}



.header-card {
    background-color: white;
}

.card-service > .header-card > h1 {
    color: #2196F3;
}

.card-service:hover > .header-card { 
    background-color: #2196F3;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.card-service:hover > .header-card > h1 {
    color: white;
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
} 

.title-shadow {
    
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    /*text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    /*text-shadow: 2px 2px 8px #FF0000;
    /*text-shadow: 0 0 5px #000000;*/
}

.toast-success{
    background-color: #29ea29;
    font-weight: bold;
    color: #FFFFFF;
}
.toast-error{
    background-color: #FF0000;
    font-weight: bold;
    color: #FFFFFF;
}